@charset "UTF-8";

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream1.woff2') format('woff2'),
        url('../fonts/SCDream1.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream2.woff2') format('woff2'),
        url('../fonts/SCDream2.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream3.woff2') format('woff2'),
        url('../fonts/SCDream3.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream4.woff2') format('woff2'),
        url('../fonts/SCDream4.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream5.woff2') format('woff2'),
        url('../fonts/SCDream5.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream6.woff2') format('woff2'),
        url('../fonts/SCDream6.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream7.woff2') format('woff2'),
        url('../fonts/SCDream7.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream8.woff2') format('woff2'),
        url('../fonts/SCDream8.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream9.woff2') format('woff2'),
        url('../fonts/SCDream9.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'SCoreDream', '맑은 고딕', 'Malgun Gothic', Arial, sans-serif;
}

/* main */
#main {
    margin-top: 35px;
}

/* 헤더 css */

#header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 99999999;
    background-color: white;
}

#logo {
    width: 100px;
    height: 100px;
}

#logo img {
    width: 100px;
    height: 100%;
}

#logo a {
    width: 100px;
    height: 100%;
    display: inline-block;
}

.headerContent {
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#search-button {
    width: 2vw;
}

#search-button img {
    background-color: gray;
    background-repeat: no-repeat;
    height: 24px;
}

.searchWrap {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#search {
    line-height: 1.8vw;
    width: 100%;
    border: 1px solid rgb(240, 236, 236);
}

#user {
    display: flex;
    width: 18%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.loginMypage {
    display: none;
}

.loginMypage.active {
    display: block;
}
/* header end */

/* footer */

#footer {
    color: #222222;
    background-color: #d6eefc;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#footerInner {
    height: 450px;
    margin: 0 54px;
    padding: 40px 0;
    max-width: 100vw;
}

#footerLogo {
    margin-bottom: 10px;
    width: 130px;
    height: 130px;
}

#footerLogo img {
    width: 130px;
    height: 130px;
}

#footerAdress {
    height: 130px;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

#footerTopFirst {
    line-height: 1.7;
    font-size: max(13px, 0.8rem);
    font-weight: 700;
}

#footerTopEnd {
    line-height: 1.7;
    font-size: max(13px, 0.8rem);
    font-weight: 700;
    margin-bottom: 20px;
}

#footerMiddle {
    display: flex;
    gap: 30px;
    font-size: max(18px, 1rem);
    line-height: 1.7;
    font-weight: 700;
}

#footerCateWrapper {
    height: 60px;
    padding-top: 30px;
}

#footerCate {
    display: flex;
    gap: 20px;
}

#footerCate li {
    padding: 5px;
}

#footerBottomEnd {
    display: flex;
    height: 60px;
    padding-top: 40px;
    gap: 30px;
}

#footerExternalLink {
    font-size: max(5px, 0.7rem);
    font-weight: 100;
}

/* footer end */
