@charset "UTF-8";
body {
    font-size: 16px;
    font-weight: 500;
    color: #5ac3f5;
    line-height: 1.8;
}
.hide {
    display: block;
    text-indent: -99999999999px;
}
.ramenOver {
    height: 597px;
}
/* 메인히어로 */
.mainslideWrap {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}
.mainSlide {
    position: relative;
    overflow: hidden;
}
.mainSlide .slideImg {
    width: 1520px;
    margin-left: auto;
    margin-right: auto;
}
.mainSlide .slideImg img {
    margin-left: -170px;
}
.mainSlide .slideText {
    position: absolute;
    top: 164px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1860px;
    min-width: 1520px;
    transform: translateX(-50%);
}
.mainSlide .slideText .left {
    padding-left: 96px;
    color: #fff;
}

.mainSlide .slideText .left .stl {
    font-size: 24px;
    font-weight: 500;
}
.mainSlide .slideText .right {
    padding-right: 96px;
}
.mainSlide .slideText .right p {
    margin-bottom: 16px;
}
.mainSlide .slideText .right p a {
    display: block;
    box-sizing: border-box;
    width: 300px;
    padding-left: 44px;
    border: 1px solid #fff;
    border-radius: 45px;
    line-height: 88px;
    font-size: 20px;
    color: #fff;
    background-image: url(../img/KakaoTalk_20250707_165055026_02.png);
    background-repeat: no-repeat;
    background-position: right 28px center;
}
.mainslideController {
    position: absolute;
    bottom: 0;
    right: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 28px;
    width: 365px;
    height: 60px;
    padding-top: 30px;
    margin-right: -930px;
    background-color: #fff;
}
.mainslideController::before {
    content: '';
    position: absolute;
    top: 0;
    left: -55px;
    display: block;
    width: 55px;
    height: 90px;
    background-image: url(../img/KakaoTalk_20250707_165055026_03.png);
}
.mainslideController::after {
    content: '';
    position: absolute;
    right: 0;
    top: -31px;
    display: block;
    width: 26px;
    height: 31px;
    background-image: url(../img/KakaoTalk_20250707_165055026_04.png);
}
.mainslideController .pager {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}
.mainslideController .pager .progress {
    width: 39px;
    height: 2px;
    background-color: #e6e6e6;
}
.mainslideController .pager .progress .active {
    display: block;
    width: 13px;
    height: 2px;
    background-color: #737373;
}
.mainslideController .pager .total {
    opacity: 0.5;
}
.mainslideController .autoplay p button {
    width: 24px;
    height: 24px;
}
.mainslideController .autoplay .pause button {
    background-image: url(../img/KakaoTalk_20250707_165055026_01.png);
}
.mainslideController .arrowBtn {
    display: flex;
    gap: 10px;
}
.mainslideController .arrowBtn p button {
    width: 60px;
    height: 60px;
}
.mainslideController .arrowBtn .prev button {
    background-image: url(../images/btn_prev_bk.png);
}
.mainslideController .arrowBtn .next button {
    background-image: url(../images/btn_next_bk.png);
}
/* 섹션1 */
.section1 {
    width: 70%;
    margin: 0 auto;
}
.section1 .contentsBox {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 84px 0;
}
.section1 .contentsInfo {
    width: 50%;
    padding: 50px 100px;
}
.section1 .contentsInfo > p {
    margin-bottom: 20px;
}
.section1 .contentsImg {
    width: 50%;
}
.section1 .contentsInfo .ramenTitle {
    font-size: 37.625px;
    font-weight: 700;
    color: #407ff0;
}
.section1 .contentsInfo .titleLine {
    margin-top: 20px;
    width: 50px;
    height: 4px;
    background-color: #407ff0;
}
.section1 .subTitle {
    font-size: 27px;
    font-weight: 700;
}
.section1 .btnLinks {
    margin-top: 55px;
    justify-content: start;
}
.section1 .btnLinks .btnPopup {
    cursor: pointer;
    margin-right: 10px;
}
.section1 .btnLinks .btnPopup a {
    display: flex;
}
.section1 .btnLinks .btnPopup .btnIcon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #407ff0;
    position: relative;
}
.section1 .btnLinks .btnPopup .btnText {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #407ff0;
    transition: 0.2s linear;
    position: relative;
    display: inline-block;
    text-decoration: none;
    line-height: 1.3;
}
.section1 .btnLinks .btnPopup .btnText::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #407ff0;
    transform: scale(1, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}
.section1 .btnShop {
    margin-top: 35px;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
}
.section1 .btnShop a {
    color: #fff;
    height: 100%;
    background-color: #407ff0;
    transition: 0.2s linear;
    position: relative;
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    padding-right: 20px;
}
.section1 .btnShop a::after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../img/KakaoTalk_20250707_165055026_02.png);
    position: absolute;
    right: 20px;
    top: 18px;
}

/* 섹션2 */
.section2 {
    width: 70%;
    margin: 0 auto;
}
.section2 .feature {
    padding: 84px 0;
}
.section2 .etcInner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section2 .etcLeft {
    width: 50%;
}
.section2 .etcInner .leftImg {
    position: absolute;
    top: -100px;
    right: 50%;
    margin-right: -400px;
    width: 288px;
    height: 262px;
    border-radius: 50%;
    background-image: url(../img/sect03_oil1.jpg);
}
.section2 .etcLeft .cirImg1 {
    width: 600px;
    height: 580px;
    border-radius: 50%;
    background-image: url(../img/sect3_oil.jpg);
}
.section2 .etcRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 100px;
}
.section2 .etcRight .etcText .featureNum {
    font-size: 37.625px;
    font-weight: 700;
}
.section2 .etcRight .etcText .subTitle {
    font-size: 37.625px;
    font-weight: 700;
    color: #407ff0;
}
/* 섹션3 */
.section3 {
    width: 70%;
    margin: 0 auto;
}
.section3 .boardWrap {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.section3 .boardList {
    width: 50%;
}
.section3 .boardList .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.section3 .boardTitle {
    font-size: 37.625px;
    font-weight: 700;
    color: #407ff0;
}
.section3 .boardBtn a {
    position: relative;
    z-index: 1;
    display: block;
    padding: 1.1875rem 3.625rem 1.1875rem 2.5rem;
    position: relative;
    border-radius: 9999px;
    width: fit-content;
    min-width: min(12.5rem, 100%);
    color: white;
    background-color: #407ff0;
    text-decoration: none;
}
.section3 .boardBtn a::after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../img/KakaoTalk_20250707_165055026_02.png);
    position: absolute;
    right: 20px;
    top: 20px;
}
.section3 .boardImg {
    width: 50%;
}
